<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426864628680-j4d4gpqehhq8o87nbh734os27v3t2k8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426864628680-j4d4gpqehhq8o87nbh734os27v3t2k8v</string>
	<key>API_KEY</key>
	<string>AIzaSyDpkVdRhC4nnxt_49-_WZ6sS27x38zQBps</string>
	<key>GCM_SENDER_ID</key>
	<string>426864628680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.app.rosterApp</string>
	<key>PROJECT_ID</key>
	<string>roster-48c4a</string>
	<key>STORAGE_BUCKET</key>
	<string>roster-48c4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426864628680:ios:419d34976b2aebb142a6fd</string>
</dict>
</plist>